@using Todo.Models
@model TodoWebApplication.Models.AddTodoViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>

<html>
<head>
    <title>Add new item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
    <h1>Add Item</h1>

    <form asp-action="AddItem" method="post" style="width: 20rem;">
        <div class="form-group">
            <label for="Text">Title:</label>
            <input asp-for="TodoText" class="form-control" />
            <span class="form-text text-muted" asp-validation-for="TodoText"></span>
            <label for="Labels">Label:</label>
            <input class="form-control" asp-for="Labels" />
            <span class="form-text text-muted" asp-validation-for="Labels"></span>
            <label for="DateDue">Date Due:</label>
            <input class="form-control" asp-for="DateDue" type="date" />
            <span class="form-text text-muted" asp-validation-for="DateDue"></span>
            <input type="submit" class="btn btn-primary"/>
            <a class="btn btn-primary" href="/todo">Back</a>
        </div>
    </form>

</body>
</html>