@model Todo.Models.TodoViewModel

<div class="card card-body mx-auto" style="width: 20rem;">
    <h4 class="card-title">@Model.Title</h4><br>
    @if (Model.DateDue.HasValue)
    {
        @Model.DateDue.Value.ToString("d. MMMM yyyy.")
        if (Model.ShowOffset)
         {
             if (Model.DateDue.Value.Subtract(DateTime.Now).Days >= 0)
              {
                  <span class="text-danger">(in @Model.DateDue.Value.Subtract(DateTime.Now).Days days)</span>
              }
              else
              {
                  <span class="text-danger">(You missed the deadline)</span>
              }
         }
    }
    <a class="btn btn-primary" href="/todo/toggleCompleted/@Model.Id">@Model.LinkText</a>
</div>